/* H3 exactly closer to FIG page */
h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 500; /* less bold */
    text-transform: uppercase;
    color: #222;
    line-height: 1.35;
    margin-top: 38px;
    margin-bottom: 14px;
    letter-spacing: 0.2px;
}


.left-content a {
    text-decoration:none;
}

.left-content a:hover,
.left-content a:active,
.left-content a:focus {
    text-decoration:none;
}

/* Smaller UL like original page */
ul {
    margin: 8px 0 22px 18px;
    padding-left: 12px;
}

ul li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.65;
    color: #333;
    margin-bottom: 5px;
}

/* Paragraph size to match list */
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #333;
}

